body {
    background-color: lightgray !important;
}

.col {
    float: center;
    width: 25%;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

.topSector,
.middleSector, .secondMiddleSection, .bottom {
    margin-left: 20px;
    margin-right: 20px;
}

.logoContainer div {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.cardImages {
    height: 100px;
    width: auto;
    margin: auto
}

.subSectionBox div {
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.card div  {
    margin-right: 10px;
    margin-left: 10px;
}

hr {
    border-color: #8797AF
}

hr.first {
    transform: translateY(-36px);
}

.headlineTitle .sectionHeader {
    justify-content: center;
    color: #00CFC1;
    text-transform: uppercase;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.center {
    text-align: center;
    margin: auto;
}

.logo {
    margin: auto;
    width: 200px;
    transform: translateY(80px);
}

.text {
    font-family: 'Courier New', Courier, monospace
}