/* ==== carousel multi items slider ===== */
#muliCarousel {
    margin: 20px 0;
}
#muliCarousel .carousel-inner .carousel-item img {
max-height: 200px;
}
#muliCarousel .carousel-inner .carousel-item.active,
#muliCarousel .carousel-inner .carousel-item-next,
#muliCarousel .carousel-inner .carousel-item-prev {
    display: flex;
}
#muliCarousel .carousel-inner .carousel-item-right.active,
#muliCarousel .carousel-inner .carousel-item-next {
    transform: translateX(25%) !important;
}
#muliCarousel .carousel-inner .carousel-item-left.active,
#muliCarousel .carousel-inner .carousel-item-prev {
    transform: translateX(-25%) !important;
}
#muliCarousel .carousel-inner .carousel-item-right,
#muliCarousel .carousel-inner .carousel-item-left {
    transform: translateX(0)!impo