body {
    background-color: lightgray !important;
}

.row {
    margin: 0 -5px;
    padding: 0 10px;
}

.row:after {
    clear: both;
}

.topSector,
.middleSector {
    margin-left: 20px;
    margin-right: 20px;
}

.logoContainer div {
    display: 20px;
    margin-right: 20px;
    float: center;
}






/* ==== carousel multi items slider ===== */
#muliCarousel {
    margin: 20px 0;
}
#muliCarousel .carousel-inner .carousel-item img {
max-height: 200px;
}
#muliCarousel .carousel-inner .carousel-item.active,
#muliCarousel .carousel-inner .carousel-item-next,
#muliCarousel .carousel-inner .carousel-item-prev {
    display: flex;
}
#muliCarousel .carousel-inner .carousel-item-right.active,
#muliCarousel .carousel-inner .carousel-item-next {
    transform: translateX(25%) !important;
}
#muliCarousel .carousel-inner .carousel-item-left.active,
#muliCarousel .carousel-inner .carousel-item-prev {
    transform: translateX(-25%) !important;
}
#muliCarousel .carousel-inner .carousel-item-right,
#muliCarousel .carousel-inner .carousel-item-left {
    transform: translateX(0)!impo