body {
    background-color: lightgray !important;
}



.resumeContainer {
    background-color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.topSector, .middleSector { 
    margin-left: 24px;
    margin-right: 24px;
}

.education, .personalSkills, .projects {
    margin-top: 36px;
}

.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50% !important;
    width: 200px;
    height: 200px;
    transform: translateY (-75px);
    justify-content: center;
}

.headlineTitle {
    text-align: center;
    transform: translateY(-50px);
    text-transform: uppercase;
}
.headlineTitle span {
    color: #8797AF;
    font-weight: bold;
}

hr {
   border-color: #8797AF
} 

hr.first {
    transform: translateY(-36px);
}

.education hr {
    margin-right: 30px;
}

.sectionTitle {
    color: #00CFC1;
    text-transform: uppercase;
}