body {
    background-color: lightgray !important;
}

.col {
    float: center;
  width: 25%;
  padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    display: table;
    clear: both;
  }

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

.card div  {
    margin-right: 10px;
    margin-left: 10px;
}

.subSectionBox p div {
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.resumeContainer {
    background-color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0 20px 30px 20px;
}

.topSector,
.middleSector {
    margin-left: 20px;
    margin-right: 20px;
}

.avatarContainer div {
    display: flex;
    justify-content: center;
}

.avatar {
    border-radius: 50% !important;
    width: 150px;
    height: 150px;
    transform: translateY(-100px);
}

.headlineTitle {
    text-align: center;
    transform: translateY(-50px);
    text-transform: uppercase;
}

.headlineTitle span {
    color: #8797AF;
    font-weight: bold;
}

hr {
    border-color: #8797AF
}

hr.first {
    transform: translateY(-36px);
}

.sectionTitle {
    color: #00CFC1;
    text-transform: uppercase;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        color: lightgray;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        color: lightgrey;
    }

    .headlineTitle {
        color: #00CFC1;
    }
}