body {
    background-color: lightgray !important;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.resumeContainer {
    background-color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.topSector, .middleSector { 
    margin-left: 24px;
    margin-right: 24px;
}

.education, .personalSkills, .projects {
    margin-top: 36px;
}

.avatarContainer div {
    display: flex;
    justify-content: center;
}

.avatar {
    border-radius: 50% !important;
    width: 150px;
    height: 150px;
    transform: translateY(-75px);
}



.headlineTitle {
    text-align: center;
    transform: translateY(-50px);
    text-transform: uppercase;
}
.headlineTitle span {
    color: #8797AF;
    font-weight: bold;
}

hr {
   border-color: #8797AF
} 

hr.first {
    transform: translateY(-36px);
}

.education hr {
    margin-right: 30px;
}

.sectionTitle {
    color: #00CFC1;
    text-transform: uppercase;
}